#!/bin/sh

export EDITOR="nvim"
export TERM="alacritty"

export PATH=$PATH:$HOME/.bin:$HOME/.local/bin

export CXX=/usr/bin/g++ 
export CMAKE_CXX_COMPILER=/usr/bin/g++
export PROTOC=/usr/bin/protoc

export XDG_CURRENT_DESKTOP="bspwm"
export XDG_CONFIG_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"

eval "$(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg)"
export SSH_AUTH_SOCK

# shellcheck disable=SC2046
export $(secrets)

export QT_QPA_PLATFORMTHEME=gtk3
