[Unit]
Description=On waking up from suspend
After=basic.target suspend.target hibernate.target
WantedBy=basic.target suspend.target hibernate.target
 
 
[Service]
ExecStart=killall chrome
#User
#Environment=
 
[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
 
