[Desktop Entry]
Version=1.0
Name=Chrome
StartupWMClass=Google-chrome
Exec=start-chrome.sh %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;