[Desktop Entry]
Version=1.0
Name=Incognito
StartupWMClass=Google-chrome
Exec=start-chrome.sh --incognito %U
StartupNotify=true
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;