[Desktop Entry]
Type=Application
Name=Spotify (Custom)
GenericName=Music Player
Icon=spotify-client
TryExec=spotify
Exec=start-spotify.sh
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
